%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

$linear: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
$purple10: #ca6aeb;
$blue: #19b5f1;
$success: #00c566;
$error: #ff4747;
$warning: #facc15;
$black100: #18181b;
$black50: rgba(37, 37, 50, 0.3);
$grey1: #b0b0b2;
$grey2: #d1d1d1;

.container {
  max-width: 1680px;
  padding: 0 120px;
  margin: 0 auto;
}

.homepage {
  background-color: $black100;
  padding-bottom: 47px;
  position: absolute;
  width: 100%;
}

.hero__grid {
  position: absolute;
  top: 170px;
  left: 0;
}

.header__angle {
  position: absolute;
  right: 0;
  top: 0;

  svg {
    opacity: 0.3;
  }
}

// Header

.homepage__header {
  margin-bottom: 13px;
}

.header__container {
  @extend %flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 31px;
  padding-bottom: 31px;
  position: relative;
}

.header__links {
  display: flex;
  align-items: center;
}

.links__link {
  z-index: 100;
  user-select: none;
  position: relative;

  &:not(:last-child) {
    margin-right: 64px;
  }

  span {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: $grey2;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: white;
      transform: scale(1.01);
    }
  }
}

.link__button {
  position: absolute;
  padding: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
  bottom: 0;
  right: -18px;
  background-color: transparent;
  background-image: url(../../img/headerLinkArrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__button {
  background-image: radial-gradient(circle at 100% 100%, transparent 0, #0db9f0 0, #0db9f0 1px, transparent 1px), linear-gradient(to right, #0db9f0, #e85ce9), radial-gradient(circle at 0 100%, transparent 0, #e85ce9 0, #e85ce9 1px, transparent 1px), linear-gradient(to bottom, #e85ce9, #e95de9), radial-gradient(circle at 0 0, transparent 0, #e95de9 0, #e95de9 1px, transparent 1px), linear-gradient(to left, #e95de9, #0cb9f0), radial-gradient(circle at 100% 0, transparent 0, #0cb9f0 0, #0cb9f0 1px, transparent 1px), linear-gradient(to top, #0cb9f0, #0db9f0);
  background-size: 1px 1px, calc(100% - 2px) 1px, 1px 1px, 1px calc(100% - 2px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
  padding: 12px 24px;
  background-color: transparent;
  position: relative;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#0cbaf1), to(#e95ce9));
    background: -o-linear-gradient(left, #0cbaf1 0, #e95ce9 100%);
    background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;

  }

  span {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: $grey2;
    position: relative;
  }

  &:hover::before {
    opacity: 1;
  }
}

// Hero

.homepage__hero {
  margin-bottom: 120px;
}

.hero__container {
  width: 100%;
  position: relative;
}

.hero__main {
  @extend %flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.hero__content {
  //flex: 0 1 50%;
  max-width: 540px;
}

.hero__image {
  flex: 0 1 50%;
  @extend %flex;
  justify-content: flex-end;
  position: relative;

  img {
    z-index: 10;
    object-fit: contain;
  }

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 30%;
    height: 80%;
    width: 70%;
    background: linear-gradient(99deg, rgba(28, 196, 249, 0.80) 0.72%, rgba(254, 105, 254, 0.80) 90.69%);
    filter: blur(105px);
    transform: rotate(-60deg);
  }
}

.hero__title {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.32px;
  color: white;
  margin-bottom: 12px;
}

.hero__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 175%;
  margin-bottom: 32px;
  color: white;
  max-width: 446px;
}

.hero__button {
  margin-bottom: 42px;
  padding: 18px 38px;
  background-color: transparent;
  background-image: $linear;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 100;

  span {
    position: relative;
    z-index: 100;
  }

  &::before {
    z-index: 1;
    background: $linear;
    filter: blur(20px);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

.hero__preview {
  @extend %flex;
  justify-content: space-between;
}

.preview__clients {
  @extend %flex;
  justify-content: space-between;
  width: 280px;
}

.clients__images {
  position: relative;
  width: 126px;
  height: 50px;
}

.client__img {
  width: 50px;
  height: 50px;
  position: absolute;

  &:nth-child(1) {
    left: 0;
    z-index: 10;
  }

  &:nth-child(2) {
    left: 38px;
    z-index: 100;
  }

  &:nth-child(3) {
    left: 76px;
    z-index: 1000;
  }
}

.clients__count {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $grey2;

  span {
    color: white;
    font-weight: 600;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 7px;
      bottom: -2px;
      left: -5px;
      background: url("../../img/UnderlineSvg.svg");
    }
  }
}

.preview__video {
  width: 196px;
  height: 128px;
  position: relative;
}

.video__button {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50px;
  left: 84px;
  cursor: pointer;
  z-index: 100000;
}

.hero__informationList {
  width: 100%;
  background-color: $black50;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, $grey1 0%, $black50 80%);
  border-image-slice: 1;
  @extend %flex;
  justify-content: space-between;
  padding: 42px 64px 53px 64px;
}

.informationList__item {
  flex: 0 1 30%;

  svg {
    width: 70px;
    height: 70px;
    margin-bottom: 42px;
  }

  h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 12px;
  }

  p {
    color: $grey1;
    font-size: 14px;
    line-height: 200%;
  }
}

// About

.homepage__about {
  margin-bottom: 174px;
}

.about__container {
  @extend %flex;
  align-items: flex-end;
  justify-content: space-between;
}

.about__image {
  position: relative;
  @extend %flex;
  flex: 0 1 50%;
  justify-content: flex-start;
  padding-left: 24px;

  img {
    z-index: 100;
    object-fit: contain;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 398.938px;
    height: 496px;
    flex-shrink: 0;
    background: $black50;
    bottom: 0;
    left: 0;
  }

  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    bottom: 5%;
    left: 15%;
    height: 70%;
    width: 60%;
    background: linear-gradient(99deg, rgba(28, 196, 249, 0.80) 0.72%, rgba(254, 105, 254, 0.80) 90.69%);
    filter: blur(100px);
    transform: rotate(-60deg);
    border-bottom-left-radius: 100%;
  }
}

.about__video {
  width: 196px;
  height: 128px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  z-index: 1000;
}

.about__content {
  flex: 0 1 50%;
}

.about__name {
  width: fit-content;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: $linear;
  margin-bottom: 12px;
}

.about__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 120.833%;
  letter-spacing: -0.24px;
  color: white;
  margin-bottom: 12px;
}

.about__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: $grey2;
  margin-bottom: 24px;
}

.aboutList__item {
  font-size: 16px;
  line-height: 28px;
  color: white;
  padding-left: 28px;
  position: relative;
  width: fit-content;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 16px;
    height: 16px;
    background: url("../../img/CheckBox.svg");
  }
}

.about__readMore {
  padding: 18px 38px;
  background: $linear;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  position: relative;

  span {
    position: relative;
    z-index: 100;
  }

  &::before {
    z-index: 1;
    background: $linear;
    filter: blur(20px);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}

//  Service

.homepage__service {
  margin-bottom: 150px;
}

.service__top {
  @extend %flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.service__titles {

  h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120.833%;
    letter-spacing: -0.24px;
    color: white;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: $linear;
    width: fit-content;
    margin-bottom: 12px;
  }
}

.service__description {
  max-width: 625px;
  margin-right: 42px;
  position: relative;
  color: $grey2;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    bottom: -200px;
    right: 0;
    width: 199px;
    height: 454px;
    transform: rotate(-99deg);
    background: linear-gradient(99deg, rgba(28, 196, 249, 0.80) 0.72%, rgba(254, 105, 254, 0.80) 90.69%);
    filter: blur(105px);
    flex-shrink: 0;
    border-radius: 20% 50% 10% 60%;
  }
}

.service__lists {
  @extend %flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service__column {
  &:nth-child(2) {
    padding-top: 57px;
  }

  &:nth-child(3) {
    padding-top: 135px;
  }
}

.service__item {
  padding: 38px 39px 25px 32px;
  max-width: 379px;
  height: 291px;
  background-color: $black50;
  border: 1px solid transparent;
  border-image: linear-gradient(90deg, $grey1 0%, $black50 90%);
  border-image-slice: 1;
  color: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  svg {
    margin-bottom: 60px;
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &::before {
    content: "learn more";
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: absolute;
    padding: 18px 38px;
    color: white;
    border: 1px solid transparent;
    border-image: $linear;
    border-image-slice: 1;
    background: rgba(255, 255, 255, 0.06);
    bottom: 28px;
    left: 99px;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &::after {
    content: "";
    opacity: 0;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 55%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgba(37, 37, 50, 0.00) 0%, rgba(37, 37, 50, 0.91) 53.06%, #252532 100%);
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.service__itemTitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}

.service__itemDescription {
  max-height: 84px;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: $grey1;
  overflow: hidden;
}

// Why choose us

.homepage__choose {
  margin-bottom: 174px;
}

.choose__container {
  @extend %flex;
  align-items: flex-start;
  justify-content: space-between;
}

.choose__left {
  flex: 0 1 45%;
}

.choose__name {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.24px;
  color: transparent;
  background-clip: text;
  background-image: $linear;
  width: fit-content;
  margin-bottom: 12px;
}

.choose__title {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 120.833%;
  letter-spacing: -0.24px;
  margin-bottom: 32px;
}

.choose__accordion{
  width: 100%;
}

.accordion__item {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 48px;
  }
}

.accordion__header{
  font-size: 20px;
  color: white;
  font-weight: 500;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  cursor: pointer;
  user-select: none;
}

.accordion__button{
  position: relative;

  &::before{
    position: absolute;
    right: 0;
    top: 7px;
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    background-image: url("../../img/ExpandMoreSvg.svg");
  }

  &[aria-expanded='true']::before,
  &[aria-selected='true']::before {
    transform: rotate(180deg);
  }
}

.accordion__panel{
  margin-top: 12px;
  font-size: 16px;
  color: $grey2;
  font-weight: 400;
  line-height: 175%;

  animation: fadein 0.4s ease-in-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.choose__image {
  flex: 0 1 50%;
  position: relative;
  @extend %flex;
  justify-content: flex-end;

  img {
    z-index: 100;
    object-fit: contain;
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 398.938px;
    height: 496px;
    flex-shrink: 0;
    background: $black50;
    bottom: 0;
    left: 100px;
  }

  &::after {
    content: "";
    z-index: 10;
    position: absolute;
    bottom: 5%;
    right: 15%;
    height: 70%;
    width: 60%;
    background: linear-gradient(99deg, rgba(28, 196, 249, 0.80) 0.72%, rgba(254, 105, 254, 0.80) 90.69%);
    filter: blur(100px);
    transform: rotate(-60deg);
    border-bottom-left-radius: 100%;
  }
}

.choose__video {
  width: 196px;
  height: 128px;
  position: absolute;
  bottom: -24px;
  right: 85px;
  z-index: 1000;
}

// How to get started

.homepage__start{
  margin-bottom: 100px;
}

.start__container{
  @extend %flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start__name{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: transparent;
  background-image: $linear;
  background-clip: text;
  margin-bottom: 12px;
  width: fit-content;
}

.start__title{
  font-size: 48px;
  font-weight: 600;
  line-height: 120.833%;
  letter-spacing: -0.24px;
  color: white;
  text-align: center;
  max-width: 879px;
  margin-bottom: 48px;
}

.start__picture{
  width: fit-content;
  position: relative;
  margin-bottom: 48px;

  img{
    object-fit: contain;
  }
}

.start__videoVR{
  position: absolute;
  top: 52px;
  left: 34px;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.30);
}

.start__videoTitle{
  font-size: 36px;
  color: white;
  font-weight: 500;
  line-height: 122.222%;
  letter-spacing: -0.72px;
  position: absolute;
  top: 88px;
  left: 34px;
}

.start__playButton{
  position: absolute;
  top: 211px;
  left: 550px;
  cursor: pointer;
}

.start__button{
  padding: 18px 38px;
  background-color: transparent;
  background-image: $linear;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 100;

  span {
    position: relative;
    z-index: 100;
  }

  &::before {
    z-index: 1;
    background: $linear;
    filter: blur(20px);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}